body {
    min-height: 150vh;
}


.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ----- header ----- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header:hover {
    background: #fff;
    border-bottom: 1px solid #ddd;

}

.header.on {
    background: #fff;
}

.header .inner {
    display: flex;
    /* align-items: center; */
    /* height: 100px; */
    line-height: 100px;
}

.header a {
    display: block;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb .sub_menu {
    font-weight: 500;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .service {
    margin: 0 0 0 50px;
    font-size: 20px;
}

.header .service .xi-heart {
    color: #ff5e37;
}

.header .service i {
    margin: 0 0 0 5px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .sub {
    /* 원래 position 뒤에 display가 위치함.
    다단메뉴 할 때는 예외. */
    height: 0;
    overflow: hidden;

    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

    font-size: 14px;
    text-align: center;
    width: 150%;
    line-height: 40px;

    transition: 0.2s;
}

/* header01에서 hover 위치 조정으로 다단 메뉴 전체 나오게 하기 */
.header .gnb:hover>ul>li .sub {
    height: 200px;
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0px;
    /* border-top: 1px solid #ddd; */
    background: #fff;
    z-index: 999;

    transition: 0.2s;

}

.header .gnb:hover::before {
    height: 200px;
    border-top: 1px solid #ddd;
}



/* ---------- main_slide ---------- */
.main_visual {
    position: relative;
    height: 100vh;
    /* height: calc(100vh - 101px); */
    overflow: hidden;
    color: #fff;
}

.main_visual .itm {
    position: relative;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 130%;
}

.main_visual .itm.on {
    background-size: auto 100%;
    transition: 4s;
}

.main_visual .itm .inner {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -600px;
}

.main_visual .itm01 {
    background-image: url(../images/main01.jpg);
}

.main_visual .itm02 {
    background-image: url(../images/main02.jpg);
}

.main_visual .itm03 {
    background-image: url(../images/main03.jpg);
}

.main_visual .itm04 {
    background-image: url(../images/main04.jpg);
}

.main_visual .itm05 {
    background-image: url(../images/main05.jpg);
}

.main_visual .itm h3 {
    text-indent: -4px;
    font-size: 68px;
    font-weight: 500;
    /* white-space: nowrap; */
    color: #fff;
    margin: 0 0 20px 0;
    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on h3 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual .itm p {
    width: 350px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 21px;
    margin: 0 0 40px 0;

    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on p {
    width: 500px;
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual .itm .btn {
    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on .btn {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1s;
}

.main_visual .itm01 h3 {
    color: #555;
}

.main_visual .itm01 p {
    color: #555;
}

.main_visual .itm01 a {
    color: #555;
}

.main_visual .itm02 h3 {
    color: #fff;
}

.main_visual .itm02 p {
    color: #fff;
}

.main_visual .itm03 h3 {
    color: #555;
}

.main_visual .itm03 p {
    color: #555;
}

.main_visual .itm03 a {
    color: #555;
}

.main_visual .menu {
    position: absolute;
    bottom: 100px;
    left: 50%;
    display: flex;
    gap: 5px;

    transform: translate(0, 0);
    margin: 0 0 0 -600px;
    padding: 0 15px;
}

.main_visual .menu li {
    position: relative;
    width: 40px;
    color: rgba(0, 0, 0, 0.3);
}

.main_visual .menu li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.3);
}

.main_visual .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: rgba(255, 94, 55, 1);
}

.main_visual .menu li.on::after {
    width: 100%;
    transition: 5s;
}

.main_visual .menu li a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

.main_visual .menu li.on a {
    color: rgba(255, 94, 55, 1);
}

.main_visual .arrows {
    position: absolute;
    left: 50%;
    top: 50%;

    display: flex;

    transform: translate(-50%, -50%);
    padding: 0 15px;
    gap: 1500px;
    justify-content: space-between;
}


/* 스크롤 아래로 내리는 버튼 만들기 */
.main_visual .scr {
    position: absolute;
    left: 50%;
    bottom: 100px;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    font-weight: 300;
    color: #ff5e37
}

.main_visual .slide_num {
    position: absolute;
    left: 23%;
    top: 820px;

    font-size: 20px;
    font-weight: 500;
    transform: translate(-100%, 0);
    margin: 0 0 0 -16px;
    padding: 0 15px;

    color: #ff5e37;
}

.main_visual .scr::before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    width: 24px;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #ff5e37;
    border-radius: 20px;
}

.main_visual .scr::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 26px;
    width: 2px;
    height: 10px;
    background: #ff5e37;
    border-radius: 1px;
    animation: wheel 1s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(0, 0);
    }



    100% {
        transform: translate(0, 15px);
    }


}

.main_visual .scr span {
    position: absolute;
    top: 13px;
    left: 0;
    white-space: nowrap;
    font-size: 14px;
    text-transform: uppercase;
    transform: translate(calc(-100% - 20px), 0);
}




.main_visual .arrows i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

.main_visual .arrows i:hover {
    color: rgba(255, 94, 55, 1);
    border: 2px solid rgba(255, 94, 55, 1);
}










/* ---------- main project ---------- */
/*section 2*/
.main_product {
    padding: 100px 0;
    background: linear-gradient(-30deg, transparent 50%, #f9f9f9 50%);
}

.main_product .title {
    padding: 0 15px;
    text-align: center;
}

.main_product .title h2 {
    position: relative;
    margin: 0 0 30px 0;
    font-size: 35px;
    font-weight: 700;
    color: #555;
}

.main_product .title h2::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: #ff5e37;
}




.main_product .con figure {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.main_product .con figure .btn {
    position: absolute;
    bottom: -50px;
    right: 30px;
    transition: 0.5s;
}

.main_product .con figure .btn i {
    background: #333;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
}

.main_product .con figure:hover .btn {
    /* left right 등 바꿔주면 버튼이
    어디서 나올지 변경 가능 */
    bottom: 30px;
}








.main_product .con {
    padding: 0 15px;
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #999; */
}

.main_product .con .prd {
    height: 570px;
    position: relative;
    flex: 1;
    overflow: hidden;
}


.main_product .con .prd .prd_img {
    border: 1px solid #f5f5f5;
    position: relative;
    overflow: hidden;
}

.main_product .con .prd .prd_img span {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    color: #fff;
    text-align: center;
    line-height: 32px;
    z-index: 2;

}

.main_product .con .prd img {
    transition: 0.6s;
}

.main_product .con .prd:hover img {
    transform: scale(1.1);
}

.main_product .con .prd .prd_brand {
    margin: 0 0 8px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #888;
    text-transform: uppercase;
}

.main_product .con .prd .prd_name {
    margin: 0 0 15px 0;
    font-size: 13px;
    color: #000;
}

.main_product .con .prd .prd_price {
    font-size: 14px;
    font-weight: 700;
    color: #000
}











/* footer */
.footer {
    background: #555;
    color: #fff;
}

.footer .ft {
    border-bottom: 1px solid #666;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer .content ul {
    display: flex;
    align-items: center;
}

.footer .content li strong {
    font-weight: 600;
}

.footer .content .customer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ccc;
    margin: 0 15px;
}

.footer address {
    font-size: 14px;
    font-style: normal;
}

.footer .content li address {
    display: inline-block;
}

.footer .content address li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 0 5px;
}

.footer .sns {
    gap: 4px;
}

.footer .link {
    gap: 10px;
}

/* #fl {
    outline: none;
    border: 1px solid #ddd;
    padding: 5px 20px;
    background: #369;
    color: #fff;
} */



.footer .sns i {
    padding: 7px;
    font-size: 20px;
    background: #ff5e37;
    line-height: 20px;
}



.to_top {
    position: fixed;
    top: 792px;
    right: 100px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    bottom: 100px;
    visibility: visible;
    opacity: 1;
}

.to_top i {
    color: #fff;
    border-radius: 50%;
    background: #ff5e37;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
}