body {
    min-height: 150vh;
}


.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ----- header ----- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: 0.6s;

}

.header:hover {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header.on {
    background: #fff;
    border-bottom: 1px solid rgb(221, 221, 221, 0.3)
}

.header .inner {
    display: flex;
    /* align-items: center; */
    /* height: 100px; */
    line-height: 100px;
}

.header a {
    display: block;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb .sub_menu {
    font-weight: 500;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
    color: #fff;
}

.header:hover .gnb>ul {
    color: #444;
}

.header.on .gnb>ul {
    color: #444;
}

.header .service {
    margin: 0 0 0 50px;
    font-size: 20px;
}

.header .service .xi-heart,
.header:hover .service .xi-heart,
.header.on .service .xi-heart {
    color: #ff5e37;
}

.header .service i {
    margin: 0 0 0 5px;
    color: #fff;
}

.header:hover .service i,
.header.on .service i {
    color: #444;
}

.header .gnb>ul>li {
    position: relative;
}

.header .sub {
    /* 원래 position 뒤에 display가 위치함.
    다단메뉴 할 때는 예외. */
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    font-size: 14px;
    text-align: center;
    width: 150%;
    line-height: 40px;
    transition: 0.5s;
}

/* header01에서 hover 위치 조정으로 다단 메뉴 전체 나오게 하기 */
.header .gnb:hover>ul>li .sub {
    height: 200px;
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0px;
    /* border-top: 1px solid #ddd; */
    background: #fff;
    z-index: 999;
    transition: 0.5s;
}

.header .gnb:hover::before {
    height: 200px;
    border-top: 1px solid #ddd;
}



/* ---------- main_slide ---------- */
.main_visual {
    position: relative;
    height: 100vh;
    /* height: calc(100vh - 101px); */
    overflow: hidden;
    color: #fff;
}

.main_visual .itm {
    position: relative;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 130%;
}

.main_visual .itm.on {
    background-size: auto 100%;
    transition: 4s;
}

.main_visual .itm .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -600px;
}

.main_visual .itm01 {
    background-image: url(../images/main01.jpg);
}

.main_visual .itm02 {
    background-image: url(../images/main02.jpg);
}

.main_visual .itm03 {
    background-image: url(../images/main03.jpg);
}

.main_visual .itm04 {
    background-image: url(../images/main04.jpg);
}

.main_visual .itm04 .content strong,
.main_visual .itm04 .content h3,
.main_visual .itm04 .content p,
.main_visual .itm04 .content .btn {
    color: #444;
}

.main_visual .itm04 .content .btn {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.main_visual .itm04.on .content .btn {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.main_visual .itm05 {
    background-image: url(../images/main05.jpg);
}

.main_visual .itm strong {
    display: block;
    font-size: 30px;
    opacity: 0;
}

.main_visual .itm.on strong {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual .itm h3 {
    text-indent: -4px;
    font-size: 68px;
    font-weight: 500;
    /* white-space: nowrap; */
    color: #fff;
    margin: 0 0 32px 0;
    /* transform: translate(0, 100px); */
    opacity: 0;
}

.main_visual .itm.on h3 {
    /* transform: translate(0, 0); */
    opacity: 1;
    transition: 0.5s;
}

.main_visual .itm p {
    width: 350px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 21px;
    margin: 0 0 40px 0;

    /* transform: translate(0, 100px); */
    opacity: 0;
}

.main_visual .itm.on p {
    width: 500px;
    /* transform: translate(0, 0); */
    opacity: 1;
    transition: 0.5s;
}

.main_visual .itm .btn {
    padding: 5px 20px 5px 24px;
    border: 1px solid #fff;
    border-radius: 5px;
    transform: translate(0, 100px);
    opacity: 0;
}


.main_visual .itm.on .btn {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.2);
}

/* 화살표 가운데로 배치 다시 하기 */
.main_visual .itm .xi-arrow-right {
    vertical-align: bottom;
    margin: 0 0 0 5px;
}


.main_visual .menu {
    position: absolute;
    bottom: 100px;
    left: 50%;
    display: flex;
    gap: 5px;

    transform: translate(0, 0);
    margin: 0 0 0 -600px;
    padding: 0 15px;
}

.main_visual .menu li {
    position: relative;
    width: 40px;
    color: rgba(0, 0, 0, 0.3);
}

.main_visual .menu li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    transform: skew(-45deg);
}

.main_visual .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: rgba(255, 94, 55, 1);
    transform: skew(-45deg);
}

.main_visual .menu li.on::after {
    width: 100%;
}

.main_visual .menu li a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

.main_visual .menu li.on a {
    color: rgba(255, 94, 55, 1);
}

.main_visual .arrows {
    display: flex;
    position: absolute;
    padding: 0 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    gap: 1500px;
}


/* 스크롤 아래로 내리는 버튼 만들기 */
.main_visual .scr {
    position: absolute;
    padding: 0 15px;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, -50%);
    font-weight: 300;
    color: #ff5e37;
}

.main_visual .slide_num {
    position: absolute;
    margin: 0 0 0 -16px;
    padding: 0 15px;
    left: 22.7%;
    bottom: 12%;
    transform: translate(-100%, 0);
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}

.main_visual .scr::before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    width: 24px;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #ff5e37;
    border-radius: 20px;
}

.main_visual .scr::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 26px;
    width: 2px;
    height: 10px;
    background: #ff5e37;
    border-radius: 1px;
    animation: wheel 1s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(0, 0);
    }



    100% {
        transform: translate(0, 15px);
    }


}

.main_visual .scr span {
    position: absolute;
    top: 13px;
    left: 0;
    white-space: nowrap;
    font-size: 14px;
    text-transform: uppercase;
    transform: translate(calc(-100% - 20px), 0);
}




.main_visual .arrows i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

.main_visual .arrows i:hover {
    color: rgba(255, 94, 55, 1);
    border: 2px solid rgba(255, 94, 55, 1);
}










/* ---------- main project ---------- */
/*section 2*/
.main_product {
    padding: 100px 0;
    background: linear-gradient(30deg, transparent 50%, #f9f9f9 50%);
}

.main_product .title {
    padding: 0 15px;
    text-align: center;
}

.main_product .title h2 {
    position: relative;
    margin: 0 0 40px 0;
    font-size: 32px;
    font-weight: 600;
    color: #333;
}

.main_product .title h2::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: #ff5e37;
}

.main_product .con figure {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.main_product .con figure .btn {
    position: absolute;
    bottom: -50px;
    right: 30px;
    transition: 0.5s;
}

.main_product .con figure .btn i {
    background: #333;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
}

.main_product .con figure:hover .btn {
    /* left right 등 바꿔주면 버튼이
    어디서 나올지 변경 가능 */
    bottom: 30px;
}

.main_product .con {
    padding: 0 15px;
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #999; */
}

.main_product .con .prd {
    height: 570px;
    position: relative;
    flex: 1;
    overflow: hidden;
}


.main_product .con .prd .prd_img {
    border: 1px solid #f5f5f5;
    position: relative;
    overflow: hidden;
}

.main_product .con .prd .prd_img span {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    color: #fff;
    text-align: center;
    line-height: 32px;
    z-index: 2;
    border-radius: 0 0 6px 0;
}

.main_product .con .prd img {
    transition: 0.6s;
}

.main_product .con .prd:hover img {
    transform: scale(1.1);
}

.main_product .con .prd .prd_brand {
    margin: 0 0 8px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #888;
    text-transform: uppercase;
}

.main_product .con .prd .prd_name {
    margin: 0 0 15px 0;
    font-size: 13px;
    color: #000;
}

.main_product .con .prd .prd_price {
    font-size: 14px;
    font-weight: 700;
    color: #000
}

/* main_plan */
.main_plan {
    padding: 100px 0;
    background: linear-gradient(30deg, transparent 92.7%, #f9f9f9 50%);
}

.main_plan .plan_wrap {}

.main_plan .plan_wrap .plan_tit {
    text-align: center;
}

.main_plan .plan_wrap .plan_tit h2 {
    position: relative;
    margin: 0 0 40px 0;
    font-size: 32px;
    font-weight: 600;
    color: #333;
}

.main_plan .plan_wrap .plan_tit h2::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: #ff5e37;
}

.main_plan .plan_wrap .plan_box ul {
    display: flex;
}

.main_plan .plan_wrap .plan_box ul .pimg {
    margin: 0 0 32px 0;
}

.main_plan .plan_wrap .plan_box ul .ptxt {
    padding: 0 10px;
}

.main_plan .plan_wrap .plan_box ul .ptxt strong {
    display: block;
    margin: 0 0 8px 0;
    font-size: 32px;
    font-weight: 400;
}

.main_plan .plan_wrap .plan_box ul .ptxt span {
    display: block;
    font-size: 15px;
    color: #888;
}

/*main_best*/
.main_best {
    position: relative;
    padding: 100px 0;
    background: #f9f9f9;
}

.main_best .title {
    text-align: center;
}

.main_best .title h2 {
    position: relative;
    margin: 0 0 56px 0;
    font-size: 32px;
    font-weight: 600;
    color: #333;
}

.main_best .title h2::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: #ff5e37;
}

.main_best .case {
    overflow: hidden;
}

.main_best .best_slide {
    margin: 0 -15px
}

.main_best .best_slide figure {
    display: flex;
    padding: 0 15px;
}

.main_best .best_slide figure .img_box {
    position: relative;
    /* width: 400px; */
    margin: 0 auto;
}

.main_best .best_slide figure .after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
}

.main_best .best_slide figure .img_box:hover .after {

    display: block;
}

.main_best .best_slide figure .b_txt {
    padding: 10px 30px;
}

.main_best .best_slide figure .b_txt .prd_brand {
    margin: 0 0 8px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #888;
    text-transform: uppercase;
}

.main_best .best_slide figure .b_txt .prd_name {
    margin: 0 0 15px 0;
    font-size: 13px;
    color: #000;
}

.main_best .best_slide figure .b_txt .prd_price {
    font-size: 14px;
    font-weight: 700;
    color: #000
}

.main_best .best_tab ul {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
    font-size: 24px;
    font-weight: 600;
    gap: 30px;
}

.main_best .best_tab ul>* {
    color: #ddd;
}

.main_best .best_tab ul>*.on {
    color: #444;
}

/* 슬라이드 버튼 */
.main_best .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.main_best .slick-dots li {
    display: inline-block;
}

.main_best .slick-dots button {
    position: relative;
    margin: 0 5px;
    width: 20px;
    height: 10px;
    transform: skew(-45deg);
    background: #ddd;
    font-size: 0;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

/* li에 slick-active가 적용되면 바뀌는 색깔 */
.main_best .slick-dots li.slick-active button {
    width: 60px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #333;
    transform: skew(-45deg);
}




/* footer */
.footer {
    background: #555;
    color: #fff;
}

.footer .ft {
    border-bottom: 1px solid #666;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer .content ul {
    display: flex;
    align-items: center;
}

.footer .content li strong {
    font-weight: 600;
}

.footer .content .customer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ccc;
    margin: 0 15px;
}

.footer address {
    font-size: 14px;
    font-style: normal;
}

.footer .content li address {
    display: inline-block;
}

.footer .content address li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 0 5px;
}

.footer .sns {
    gap: 4px;
}

.footer .link {
    gap: 10px;
}

/* #fl {
    outline: none;
    border: 1px solid #ddd;
    padding: 5px 20px;
    background: #369;
    color: #fff;
} */



.footer .sns i {
    padding: 7px;
    font-size: 20px;
    background: #ff5e37;
    line-height: 20px;
}



.to_top {
    position: fixed;
    top: 792px;
    right: 100px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    bottom: 100px;
    visibility: visible;
    opacity: 1;
}

.to_top i {
    color: #fff;
    border-radius: 50%;
    background: #ff5e37;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
}